<div *ngIf="addRoute()">
    <h1>Nouvelle publication</h1>
    <form [formGroup]="newForm">
        <input id="title" type="text" formControlName="title" placeholder="Titre *" required>
        <input id="content" type="text" formControlName="content" placeholder="Votre publication *" required>
        <button type="button" onclick="document.getElementById('attachment').click()">Ajouter un fichier</button>
        <input #file id="attachment" type="file" accept="images/*" style="display: none;" formControlName="file" (change)="preview($event)">
        <input (click)="addPost()" type="submit" value="Publier">
    </form>
</div>
<img [src]="imageUrl" alt="">
<div *ngIf="modifyRoute()">
    <h1>Modification</h1>
    <input id="title" type="text" name="title" [defaultValue]="post.title" required>
    <input id="content" type="text" name="content" [defaultValue]="post.content" required>
    <input id="attachment" type="file">
    <button (click)="addPost()"><strong>Modifier</strong></button>
</div>
