<div class="post" *ngIf="addRoute()">
    <h1>Nouvelle publication</h1>
    <form class="post__form" [formGroup]="newForm">
        <input id="title" type="text" formControlName="title" placeholder="Titre *" required>
        <input id="content" type="text" formControlName="content" placeholder="Votre publication *" required>
        <div class="post__form__footer">
            <div>
                <button type="button" onclick="document.getElementById('attachment').click()">Ajouter un fichier</button><br>
                <input #file id="attachment" type="file" accept="images/*" style="display: none;" formControlName="file" (change)="preview($event)">
                <input class="post__form__footer__submit" (click)="addPost()" type="submit" value="Publier">
            </div>
            <img [src]="imageUrl" alt="">
        </div>
        
    </form>
</div>
<div class="post" *ngIf="modifyRoute()">
    <h1>Modifications</h1>
    <div class="post__form">
        <input id="title" type="text" [defaultValue]="post.title" required>
        <input id="content" type="text" [defaultValue]="post.content" required>
        <input (click)="modifyPost()" type="submit" value="Modifier">
    </div>
</div>
