@keyframes affichage {
    0%{
        transform: translateX(40%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes form {
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes marg {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@mixin media-queries {
    @media screen and (min-width: 800px){
        @content
    }
}

section {
    width: 60%;
    margin: auto;
    margin-top: 10%;
    box-shadow: 2px 2px 6px black ;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    animation: marg 1s 0.5s both;
    @include media-queries(){
        display: flex;
    }
    & img {
        width: 100%;
        z-index: 2;
        @include media-queries(){
            animation: affichage 1s 0.5s both;
            width: 55%;
        }
    }
    & div {
        background-color: white;
        justify-content: center;
        width: 100%;
        z-index: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        animation: form 1s 0.5s both;
        @include media-queries(){
            width: 45%;
        }
        & h1 {
            margin: 0;
        }
        & p {
            margin: 0;
            font-size: 11px;
            margin-bottom: 8%;
            margin-top: 2%;
        }
        & input {
            border-radius: 10px;
            border: none;
            background-color: #dadbe6;
            padding-left: 15px;
            height: 30px;
            width: 50%;
            margin: 0 auto;
            margin-top:5%;
        }
    }
}

#btn{
    width: 40%;
    background-color: white;
    color: #fd2d01;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #fd2d01;
    border-color: #fd2d01;
    margin: 0 auto;
    margin-top: 8%;
    cursor: pointer;
}