<section>
    <img src="../../assets/icon-above-font.png" alt="Groupomania">
    <div>
        <h1>Nouvel utilisateur</h1>
        <!-- <p>Email</p> -->
        <input id="email" type="text" name="email" placeholder="Email *" required>
        <!-- <p>Mot de passe</p> -->
        <input id="username" type="text" name="username" placeholder="Nom d'utilisateur *" required>
        <input id="password" type="password" name="password" placeholder="Mot de passe *" required>
        <input id="description" type="text" name="description" placeholder="Description">
        <button><strong>S'enregistrer</strong></button>
    </div>
</section>
