<section>
    <img src="../../assets/icon-above-font.png" alt="Groupomania">
    <div>
        <h1>Nouvel utilisateur</h1>
        <form [formGroup]="signForm">
            <input id="email" type="text" formControlName="email" placeholder="Email *" required>
            <input id="username" type="text" formControlName="username" placeholder="Nom d'utilisateur *" required>
            <input id="password" type="password" formControlName="password" placeholder="Mot de passe *" required>
            <input id="description" type="text" formControlName="description" placeholder="Description"><br>
            <input id="btn" type="submit" value="S'enregistrer" (click)="signup()">
        </form>
    </div>
</section>
