<section>
    <h1>Publications</h1>
    <div class="post">
        <div class="post__info">
            <h2 class="post__info__title">Mon premier post</h2>
            <p class="post__info__date">Mis en ligne le 9 septembre à 9h42</p>
            <p class="post__info__content">Je tenais à vous dire bonjour à tous</p>
            <span class="post__info__likes"><i class="fa-solid fa-heart"></i>2</span>
            <!-- <img src="../../assets/icon-above-font.png" alt=""> -->
        </div>
        <div class="post__bannière">
            <a class="post__bannière__like" href="">J'aime</a>
            <a class="post__bannière__link" href="">Voir la Publication<i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <div class="post">
        <div class="post__info">
            <h2 class="post__info__title">Mon premier post</h2>
            <p class="post__info__date">Mis en ligne le 9 septembre à 9h42</p>
            <p class="post__info__content">Je tenais à vous dire bonjour à tous</p>
            <span class="post__info__likes"><i class="fa-solid fa-heart"></i>2</span>
            <!-- <img src="../../assets/icon-above-font.png" alt=""> -->
        </div>
        <div class="post__bannière">
            <a class="post__bannière__like" href="">J'aime</a>
            <a class="post__bannière__link" href="">Voir la Publication<i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <div class="post">
        <div class="post__info">
            <h2 class="post__info__title">Mon premier post</h2>
            <p class="post__info__date">Mis en ligne le 9 septembre à 9h42</p>
            <p class="post__info__content">Je tenais à vous dire bonjour à tous</p>
            <span class="post__info__likes"><i class="fa-solid fa-heart"></i>2</span>
            <!-- <img src="../../assets/icon-above-font.png" alt=""> -->
        </div>
        <div class="post__bannière">
            <a class="post__bannière__like" href="">J'aime</a>
            <a class="post__bannière__link" href="">Voir la Publication<i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <div class="post">
        <div class="post__info">
            <h2 class="post__info__title">Mon premier post</h2>
            <p class="post__info__date">Mis en ligne le 9 septembre à 9h42</p>
            <p class="post__info__content">Je tenais à vous dire bonjour à tous</p>
            <span class="post__info__likes"><i class="fa-solid fa-heart"></i>2</span>
            <!-- <img src="../../assets/icon-above-font.png" alt=""> -->
        </div>
        <div class="post__bannière">
            <a class="post__bannière__like" href="">J'aime</a>
            <a class="post__bannière__link" href="">Voir la Publication<i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <div class="post">
        <div class="post__info">
            <h2 class="post__info__title">Mon premier post</h2>
            <p class="post__info__date">Mis en ligne le 9 septembre à 9h42</p>
            <p class="post__info__content">Je tenais à vous dire bonjour à tous</p>
            <span class="post__info__likes"><i class="fa-solid fa-heart"></i>2</span>
            <!-- <img src="../../assets/icon-above-font.png" alt=""> -->
        </div>
        <div class="post__bannière">
            <a class="post__bannière__like" href="">J'aime</a>
            <a class="post__bannière__link" href="">Voir la Publication<i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
</section>
