<div class="post">
    <div class="post__info">
        <div class="post__info__title">
            <h2>{{ post.title }}</h2>
            <p>Par <a [routerLink]="['profile/', post.UserId]"><strong>{{ post.User.username }}</strong></a></p>
        </div>
        <p class="post__info__date">Mis en ligne le {{ post.createdAt | date: 'dd/MM/yy, à HH:mm'}}</p>
        <p class="post__info__content">{{ post.content }}</p>
        <span class="post__info__likes"><i class="fa-solid fa-heart" [ngClass]='{liked: likeText === condition }'></i>{{ post.likes }}</span>
    </div>
    <div class="post__bannière">
        <a class="post__bannière__like" (click)="onLike()" >{{ likeText }}</a>
        <a class="post__bannière__link" [routerLink]="['post/', post.id ]" >Voir la Publication<i class="fa-solid fa-arrow-right-long"></i></a>
    </div>
</div>