@keyframes anim {
    0%{
        box-shadow: inset 5px 5px 10px #c4c4c4,
                inset -5px -5px 10px #ffffff;
    }
    100%{
        box-shadow:  -8px 8px 61px #c2c2c2,
             8px -8px 61px #ffffff;
    }
}

@keyframes anim-return {
    0%{
        box-shadow:  -8px 8px 61px #c2c2c2,
             8px -8px 61px #ffffff;
    }
    100%{
        box-shadow: inset 5px 5px 10px #c4c4c4,
                inset -5px -5px 10px #ffffff;
    }
}

.post{
    width: 80%;
    margin: 0 auto;
    box-shadow: inset 5px 5px 10px #c4c4c4,
                inset -5px -5px 10px #ffffff;
    padding-top: 20px;
    margin-top: 40px;
    border: 1px solid black;
    &:hover{
        animation: anim 0.7s both;
    }
    &:not(:hover){
        animation: anim-return 0.7s both;
    }
    & img {
        width: 60%;
    }
    &__info{
        margin-left: 20px;
        position: relative;
        &__title{
            display: flex;
            align-items:flex-end;
            & p {
                margin: 0;
                margin-left: 5px;
                font-size: 13px;
            }
            & a {
                text-decoration: none;
                color: black;
            }
        }
        & h2 {
            margin: 0;
        }
        &__date{
            margin: 0;
            font-size: 13px;
        }
        &__content{
            font-size: 20px;
        }
        &__likes{
            position: absolute;
            top: 2%;
            right: 2%;
            & i {
                margin-right: 5px;
            }
        }
    }
    &__bannière{
        width: 100%;
        display: flex;
        justify-content: space-between;
        // background-color: #FF9569;
        & a {
            text-decoration: none;
            text-align: center;
            padding: 5px;
            color: black;
            background: white;
            box-shadow:  -7px 7px 14px #e6e6e6,
             7px -7px 14px #ffffff;
             border: 1px solid black;
            cursor: pointer;
        }
        &__like{
            width: 30%;
        }
        &__link{
            width: 70%;
            & i {
                margin-left: 10px;
            }
        }
    }
}

// ffd7d7

.liked{
    color: #fd2d01;
}


// #ffd7d7
// #fd2d01