section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
        margin-left: 5px;
    }
}

.card{
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    box-shadow: inset 5px 5px 10px #c4c4c4,
                inset -5px -5px 10px #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    &__img{
        width: 30%;
        margin: 0 auto;
        margin-top: 1%;
    }
    &__email{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        & i {
            margin-right: 5px;
        }
    }
    &__date{
        margin-top: 0;
        font-size: 12px;
    }
    &__nb-com{
        margin: 0;
    }
}

button {
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    color: black;
    background-color: #f52237;
    box-shadow: 10px 10px 40px #cfcfcf,
        -10px -10px 40px #ffffff;;
    cursor: pointer;
}