<section>
    <div class="post">
        <div class="post__info">
            <div class="post__info__title">
                <h2>{{ post.title }}</h2>
                <p>Par <a [routerLink]="['../../','profile', post.UserId]"><strong>{{ post.User.username }}</strong></a></p>
            </div>
            <p class="post__info__date">Mis en ligne le {{ post.createdAt | date: 'dd/MM/yy, à HH:mm' }}</p>
            <p class="post__info__content">{{ post.content }}</p>
        </div>
        <img class="post__img" [src]="post.attachment" alt="">
    </div>
    <div class="btn">
        <a class="btn__like" (click)="onLike()" >{{ likeText }}</a>
        <span class="btn__likes"><i class="fa-solid fa-heart"></i>{{ post.likes }}</span>
        <a class="btn__modify" [routerLink]="['../','modify', post.id]">Modifier</a>
        <a class="btn__delete" (click)="deletePost()">Supprimer</a>
    </div>
    <div class="card">
        <app-post-comment *ngFor="let comment of post.Comments" [comment]="comment"></app-post-comment>
        <div class="card__input">
            <i class="fas fa-comment-dots card__input__icon"></i>
            <input class="card__input__text" type="text" placeholder="Ecrivez votre commentaire...">
            <input class="card__input__btn" type="submit" value="Commenter">
        </div>
    </div>
</section>