<section>
    <img src="../../assets/icon-above-font.png" alt="Groupomania">
    <div>
        <h1>Connexion</h1>
        <p>Acceder à Groupomania</p>
        <form [formGroup]="logForm">
            <input id="inputEmail" type="text" formControlName="email" placeholder="Email" required>
            <input id="inputPassword" type="password" formControlName="password" placeholder="Mot de passe" required><br>
            <input id="btn" type="submit" value="Connectez-vous" (click)="login()">
        </form>
    </div>
</section>
<a (click)="toSignup()" >
    <p>Créer votre compte</p>
    <i class="fa-solid fa-arrow-right-long"></i>
</a>