<section>
    <img src="../../assets/icon-above-font.png" alt="Groupomania">
    <div>
        <h1>Connexion</h1>
        <p>Acceder à Groupomania</p>
        <input id="inputEmail" type="text" name="email" placeholder="Email" required>
        <input id="inputPassword" type="password" name="password" placeholder="Mot de passe" required>
        <button (click)="login()"><strong>Connectez-vous</strong></button>
    </div>
</section>
<a (click)="toSignup()" >
    <p>Créer votre compte</p>
    <i class="fa-solid fa-arrow-right-long"></i>
</a>