@keyframes bars {
    0%{
        width: 0;
    }
    100%{
        width: 25%;
    }
}

@mixin media-queries {
    @media screen and (min-width: 600px){
        @content
    }
}

.home{
    width: 100%;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    @include media-queries{
        width: 70%;
    }
    // box-shadow: 6px 6px 10px black;
    &__title{
        display: flex;
        margin-top: 2%;
        justify-content: center;
        align-items: center;
        &__bar{
            width: 25%;
            height: 7px;
            background-color: #fd2d01;
            animation: bars 1s;
        }
        &__text{
            margin: 3% 2% 3% 2%;
        }
    }
}
