<header>
    <img src="../../assets/icon-left-font-rogn.png" alt="Groupomania">
    <nav>
        <a title="Accueil" (click)="toHome()" >
            <i class="fa-solid fa-house"></i>
        </a>
        <a title="Ajouter une publication" (click)="toNewPost()" >
            <i class="fa-solid fa-plus"></i>
        </a>
        <a title="Mon Profil" href="">
            <i class="fa-solid fa-user"></i>
        </a>
        <a title="Déconnexion" href="">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
    </nav>
</header>