@keyframes anim-icon {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

@keyframes anim-icon-return {
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

header {
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: 6px 3px 10px black;
    position: relative;
    z-index: 10;
    & img {
        width: 30%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    & nav {
        justify-content: space-around;
        & a{
            margin-right: 30px;
            color: #fd2d01;
            cursor: pointer;
        }
    }
}

i {
    font-size: 20px;
    &:hover{
        animation: anim-icon 0.7s both;
    }
    &:not(:hover){
        animation: anim-icon-return 0.7s both;
    }
}